@import "../utilities/variables.scss";

.nav {
	top: 10px;
	left: 10px;
}

.navbar {
	border: 2px solid $primary-color;
	height: 4em;
	position: absolute;
	top: 5%;
	left: 5%;
	padding: 0;
	border-radius: 100px;
	will-change: filter;
	display: inline-block;
}

.navbar-item {
	color: $primary-color;
	margin: 0;
	padding: 1.5em;
	line-height: normal;
	display: inline-block;
	box-sizing: border-box;
	mix-blend-mode: overlay;
	position: relative;
	z-index: 10;
}

.navbar-item:hover {
	color: $background-color;
	cursor: pointer;
	border-radius: inherit;
	background-color: $primary-color;
}

.navbar-item:focus {
	border-radius: 100px;
}

.navbar-cursor {
	position: absolute;
}
