@import url("https://fonts.googleapis.com/css?family=Overpass");

@font-face {
	font-family: "Handjet";
	src: url("../src/ss/fonts/Handjet-Medium.ttf") format("truetype");
}

$font-stack: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$primary-color: #fba7f4;
$secondary-color: #00fff7;
$background-color: #000000;
$font-main: "Handjet", sans-serif;

$navbar-height: 4em;
